$addToHead('<link rel="import" href="/polymer/bower_components/paper-material/paper-material.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/iron-icons/iron-icons.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/iron-icons/communication-icons.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/paper-icon-button/paper-icon-button.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/paper-tooltip/paper-tooltip.html">');

<div class="fullwhite">
    <input type="hidden" value="{{businessid}}"  id="businessid" />
    <!--<input type="hidden" value="{{searchvalue}}" id="searchvalue" />
    <input type="hidden" value="{{searchtype}}" id="searchtype" /> -->
     <div id="businesspage" class="profile">
       
     </div>
</div>
 
 <script type= "text/babel" src="/js/reactclasses/businesspage.js" > </script> 