$addToHead('<link rel="import" href="/polymer/bower_components/iron-icons/iron-icons.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/iron-icons/communication-icons.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/iron-icons/maps-icons.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/iron-icons/editor-icons.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/gold-phone-input/gold-phone-input.html">');
<div class="fullwhite">
    <input type='hidden' value="{{userid}}" id="_id" />
    <div id="profile" class="profile"></div> 
</div>
 <script type= "text/babel" src="/js/editprofile.js" > </script> 