$addToHead('<link rel="import" href="/polymer/bower_components/iron-icons/communication-icons.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/iron-icons/maps-icons.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/iron-icons/editor-icons.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/iron-icons/iron-icons.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/gold-zip-input/gold-zip-input.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/google-map/google-map.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/paper-icon-button/paper-icon-button.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/paper-dialog/paper-dialog.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/paper-material/paper-material.html">');

<!--<google-map id="mp" zoom="15" api-key="AIzaSyDaFDezXQf6QryH2oFfewgZM3TgZRrh_AE" ></google-map>-->
<div  class="fullwhite">
     <input type='hidden' value="{{userid}}" id="_id" />
    <div id="bprofile" class="profile"></div> 
</div>

<script type= "text/babel" src="/js/reactclasses/businessprofileedit.js" >
 </script> 