$addToHead('<link rel="import" href="/polymer/bower_components/paper-material/paper-material.html">');
$addToHead('<link rel="import" href="/polymer/bower_components/iron-icons/iron-icons.html">');
<div class="fullwhite">
    <input type="hidden" value="{{searchvalue}}" id="searchvalue" />
    <input type="hidden" value="{{searchtype}}" id="searchtype" />
    <input type="hidden" value="{{jobid}}" id="jobid" />
     <div id="searchres" class="profile">
     </div>
</div>
 
 <script type= "text/babel" src="/js/reactclasses/searchresult.js" > </script> 